{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParticipantRole list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participantRole in participantRoles %}
            <tr>
                <td>{{ participantRole.role }}</td>
                <td>
                    <a href="{{ path('admin_participantrole_show', { 'id': participantRole.id }) }}" class="btn btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_participantrole_edit', { 'id': participantRole.id }) }}" class="btn btn-sm"><i class="fa fa-pencil"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_participantrole_new') }}" class="btn btn-primary">Create</a>
{% endblock %}
