<div class="banner-image hidden-md-down" style="position:relative; height: 18rem; margin-bottom: 10px; overflow: hidden;" id="slider">
    {% for i in 1..5 %}
        <img src="/images/slider/slider{{ random(24) }}.jpg"/>
    {% endfor %}
</div>
