{% extends 'base.html.twig' %}

{% block body %}
    <h1>MembershipType list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membershipType in membershipTypes %}
            <tr>
                <td>{{ membershipType.type }}</td>
                <td>
                    <a href="{{ path('admin_membershiptype_show', { 'id': membershipType.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_membershiptype_edit', { 'id': membershipType.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_membershiptype_new') }}" class="btn btn-primary">Create</a>
{% endblock %}
