{% extends 'adminbase.html.twig' %}

{% block body %}
    <h1>Qualification list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Expiry Required</th>
                <th>Verification Required</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qualification in qualifications %}
            <tr>
                <td>{{ qualification.name }}</td>
                <td>
                    {% if qualification.expiryDateRequired %}
                        <span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="badge badge-pill badge-danger"><i class="fa fa-times"></i></span>
                    {% endif %}
                </td>
                <td>
                    {% if qualification.verificationRequired %}
                        <span class="badge badge-pill badge-success"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="badge badge-pill badge-danger"><i class="fa fa-times"></i></span>
                    {% endif %}</td>
                <td>
                    <a href="{{ path('admin_qualification_show', { 'id': qualification.id }) }}" class="btn btn-sm"><i class="fa fa-search"></i></a>
                    <a href="{{ path('admin_qualification_edit', { 'id': qualification.id }) }}" class="btn btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_qualification_new') }}" class="btn btn-primary">Create</a>
{% endblock %}
