<p>A request has been received to reset your password. If this was not you, please disregard this email.</p>


<p><a href="{{ url('reset_password_token', { 'token': resetToken })}}">Click to reset password</a></p>
