{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 push-md-3">
            <h1>Reset Password</h1>
            <p>
                Enter your membership number and the email address that you registered with below in order to reset your password.  You will be sent an email with instructions.
            </p>
            <p>
                If you can't remember either of these, email <a href="mailto:db@eaglecanoeclub.org.uk">db@eaglecanoeclub.org.uk</a>
            </p>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
