{% extends 'base.html.twig' %}

{% block title %}Eagle Canoe Centre{% endblock %}

{% block body %}

<div class="banner-image" style="position:relative; height: 18rem; margin-bottom: 10px;">
    <div class="banner-image-fill" style="background-size: cover; background-image: url('/images/banner.jpg'); background-position: 0 -40px; height: 100%; width: 100%;">
    </div>
</div>

<h1 class="display-5">Eagle Canoe Centre</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            Eagle Canoe Centre is based on the banks of the River Wensum in Norwich and provides easy access to 6 kilometres of beautiful, gently flowing river, upstream as far as Hellesdon Mill and downstream to New Mills. There is a short portage around New Mills Yard, which then allows access through the city passing Cow Tower, Pulls Ferry, the cathedral and beyond towards Whitlingham and the Broads.
        </p>
        <p>
            The clubhouse and associated accommodation offers a range of facilities including a classroom with kitchen facilities as well as male / female and disabled changing rooms, all of which have showers and toilets. The Club has its own parking area and there is further parking available on Heigham Street and Swanton Road.
        </p>
        <p>
            The club has a purpose-made jetty frontage to the river, providing a safe launching area, with a continuous surfaced path on the bank to facilitate access for those who are physically less able or who have problems with mobility on uneven surfaces. In addition, the site has a slide for kayaks and a sit on top, which provides much entertainment, especially in the summer.
        </p>
    </div>
    <div class="col-md-4">
        <img src="https://farm8.staticflickr.com/7727/27250465320_edfc75cbfc_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <img src="https://farm9.staticflickr.com/8198/28938835010_f535903c37_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
    <div class="col-md-8">
        <p>
            We have purpose built boatsheds, which accommodate a wide range of kayaks and canoes to cater for all interests. The kayak shed includes general purpose boats as well as shorter white water boats, touring kayaks and sea kayaks, while the canoe shed includes a mix of tandem and solo boats. In addition there is a full range of buoyancy aids, cagoules, wet suits, helmets and paddles to cater for all sizes of paddlers.
        </p>
        <p>
            The club also owns a canoe trailer to help move boats for club trips for those members who do not have access to a car or roof rack.
The equipment is all well maintained and the club undertakes regular risk assessments for the equipment, premises and activities.
        </p>
        <p>
            In 2014 the club secured a 25 year lease of the site and following the completion of the new building will be looking to develop the centre as a location for other community groups and sporting clubs to be able to run their activities from as well as developing it as a centre for training courses. If you are interested in using the site and facilities please get in touch so we can discuss your needs.
        </p>
    </div>
</div>

{% endblock %}
