{% extends 'base.html.twig' %}

{% block title %}Eagle Canoe Centre{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Eagle Canoe Centre</span>
</nav>

<h1 class="display-5">Eagle Canoe Centre</h1>

<div class="row">
    <div class="col-md-7">
        <p>
            Eagle Canoe Centre is the based on the banks of the river Wensum, two kilometres from the centre of Norwich. We benefit from easy access to six kilometres of beautiful, gently flowing river upstream as far as Hellesdon Mill and downstream to New Mills. At New Mills Yard there is a short portage which allows access through the city, passing Cow Tower, Pulls Ferry, Norwich Cathedral and beyond towards Whitlingham and the Broads.
        </p>

        <h5>Our Facilities</h5>
        <p>
            The club has built a brand new clubhouse comprising of a classroom with kitchen facilities as well as heated male/female and disabled changing rooms, all of which have showers and toilets. There is parking on site, with additional parking available on Heigham Street and Swanton Road.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://farm9.staticflickr.com/8591/28930083241_7b3ab86285_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>


<div class="row">
    <div class="col-md-3 hidden-sm-down">
        <img src="https://farm8.staticflickr.com/7424/14054898165_83f2989151_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
    <div class="col-md-9">
        <h5>River Access</h5>
        <p>
            Access to the water could not be easier: the club has a purpose-built jetty frontage to the river, providing a safe launching area. The bank features a continuous, surfaced path to facilitate access for those who are physically less able or those who have problems with mobility on uneven surfaces.

        </p>

        <h5>Boats and paddling equipment</h5>
        <p>
            We have purpose-built boatsheds, which accommodate a wide range of kayaks and canoes to cater for different interests. Our fleet includes general purpose kayaks, white water kayaks, touring kayaks, sea kayaks, and a mix of tandem and solo canoes. We also offer a full range of buoyancy aids, cags, helmets, poles and paddles to cater for paddlers of all sizes.
        </p>

        <p>
            Our members benefit from the club owning a canoe trailer to help move boats for club trips, especially those who do not have access to a car or roof rack.
        </p>
        <p>
            All our equipment is well maintained and the club undertakes regular risk assessments for the equipment, premises and activities.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <h5>Hire of Eagle Canoe Centre</h5>
        <p>
            As well as being the home of the club, Eagle Canoe Centre is available as a venue for community organisations, sports clubs and commercial paddlesports training providers to hire. Please see below to find out what we can offer
        </p>
        <p>
            If you are interested in using the site and its facilities, please get in touch with the club chairman, Stuart Pontin, at <a href="mailto:chairman@eaglecanoeclub.org.uk">chairman@eaglecanoeclub.org.uk</a> so we can discuss your needs.

        </p>

        <h5>Hire rates</h5>
        <p>Please see our <a href="{{ asset('/downloads/5_3 v6 2017_2018 Membership Fees.doc') }}" target="_blank">facilities hire charges</a> to get an idea of costs. </p>
    </div>
</div>

{% endblock %}
