{% extends 'base.html.twig' %}

{% block title %}Eagle Canoe Centre{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Contact</span>
</nav>

<h1 class="display-5">Contact Us</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            The club is based at the Eagle Canoe Centre, on Helford Street, Norwich, next to Machine Mart. The centre is beside the River Wensum, opposite Anderson’s Meadow. For Sat Nav, use NR2 4LY, or see the map.
        </p>
    </div>
    <div class="col-md-4">
        <img src="https://farm8.staticflickr.com/7727/27250465320_edfc75cbfc_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <img src="https://farm9.staticflickr.com/8198/28938835010_f535903c37_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
    <div class="col-md-8">
        <p>
            We have purpose built boatsheds, which accommodate a wide range of kayaks and canoes to cater for all interests. The kayak shed includes general purpose boats as well as shorter white water boats, touring kayaks and sea kayaks, while the canoe shed includes a mix of tandem and solo boats. In addition there is a full range of buoyancy aids, cagoules, wet suits, helmets and paddles to cater for all sizes of paddlers.
        </p>
        <p>
            The club also owns a canoe trailer to help move boats for club trips for those members who do not have access to a car or roof rack.
The equipment is all well maintained and the club undertakes regular risk assessments for the equipment, premises and activities.
        </p>
        <p>
            In 2014 the club secured a 25 year lease of the site and following the completion of the new building will be looking to develop the centre as a location for other community groups and sporting clubs to be able to run their activities from as well as developing it as a centre for training courses. If you are interested in using the site and facilities please get in touch so we can discuss your needs.
        </p>
    </div>
</div>

{% endblock %}
