{% extends 'base.html.twig' %}

{% block title %}Documents and Downloads{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<h1 class="display-5">Documents and Downloads</h1>

<div class="row">
    <div class="col-md-8">
        <h5>Application Forms</h5>
        <ul>
            <li>Application for membership</li>
            <li>Membership, insurance, and course fees</li>
            <li>Disclosure for application as adult member of Eagle Canoe Club</li>
            <li>Code of conduct</li>
        </ul>

        <h5>Other Club Documents</h5>
        <ul>
            <li>Welcome to Eagle Canoe Club</li>
            <li>Child and Vulnerable Adult Protection Policy</li>
        </ul>

        <h5>Club Policies</h5>

        <h6>Articles of Association</h6>
        <p>
            The club became an independent club in 1998 and had its own constitution which set out how the club would operate and the function of the committee. In 2014 the club became a company limited by guarantee to enable it to move forward with some exciting projects and thrive in the future.
        </p>

        <ul>
            <li>Articles of Association</li>
        </ul>

        <h6>Rules of the club</h6>
        <p>
            The club’s management guidelines and operating procedures set out the remit within which the club operates. Within this framework, the club has produced a short list of rules and a code of conduct, which are sent out to all members with their enrolment packs and asks all members to abide by these “common sense” rules.
        </p>

        <ul>
            <li>Management guidelines and operating and safety procedures</li>
            <li>Rules of the Club</li>
        </ul>

        <h6>Risk Assessments</h6>

        <p>
            The club takes the safety of its members seriously and annually undertakes risk assessments for the premises and sites we use and of the buildings and equipment.
        </p>

    </div>
    <div class="col-md-4">
        <img src="https://farm8.staticflickr.com/7727/27250465320_edfc75cbfc_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>

{% endblock %}
