{% extends 'base.html.twig' %}

{% block title %}FAQ's{% endblock %}

{% block body %}

<div class="banner-image" style="position:relative; height: 18rem; margin-bottom: 10px;">
    <div class="banner-image-fill" style="background-size: cover; background-image: url('/images/banner.jpg'); background-position: 0 -40px; height: 100%; width: 100%;">
    </div>
</div>

<h1 class="display-5">FAQ's</h1>

<div class="row">
    <div class="col-md-9">
        <dl>
            <dt>What do we do?</dt>
            <dd>We teach paddle sports – kayaking and canoeing – to all ages and abilities. From complete beginners to accomplished paddlers, we offer fantastic opportunities to learn canoeing and kayaking. Our focus is on recreational paddling and the club has a great family atmosphere that keeps our members coming back year after year.</dd>

            <dt>Where?</dt>
            <dd>We’re based at Eagle Canoe Centre, Helford Street, NR2 4LY on the River Wensum in Norwich.</dd>

            <dt>When?</dt>
            <dd>We meet every Wednesday night from 6.30pm from April to October. In the winter season we meet every first and third Wednesday of the month. There are also regular day and weekend trips and monthly pool sessions. On Monday nights we run star award courses and once a month hold "taster session"</dd>

            <dt>How?</dt>
            <dd>Members are coached by qualified and experiences paddlers in small groups. We operate in a safe, controlled environment with talented coaches and an ever-expanding fleet of canoes and kayaks.</dd>

            <dt>Canoe or Kayak?</dt>
            <dd>Canoeing, in an open boat with a single paddle-blade, is a versatile way to enjoy time on the water and offers the opportunity for touring and exploring on flat water, as well as mild to moderate white water. Ideal for carrying loads as well as people, canoe camping is a fantastic way to get away from it all. Kayaking is different to canoeing as the kayaker sits in an enclosed cockpit, usually with a spraydeck and uses a double-bladed paddle. Often a little ‘wetter’ than canoeing, kayakers can enjoy paddling on flat water, the sea, in the surf and on whitewater.</dd>

            <dt>Do I need my own boat?</dt>
            <dd>There is no need to have any of your own equipment, (although some members do), as the club has a wide variety of equipment which is available to borrow for club activities. This includes a wide range of canoes, kayaks and sit on tops together with paddles suitable for all abilities and types of paddling. There are also wet suits, cags, buoyancy aids and helmets, so all you need is clothing (not jeans) and shoes which you don’t mind getting wet !</dd>

            <dt>What does membership entitle me to?</dt>
            <dd>Membership includes all our Wednesday night sessions, pool sessions, use of all the kit and facilities, and local day trips. For weekend excursions and 2 and 3 star courses, there are charges, but these are set at a level to cover the cost of running the event.</dd>

            <dt>Where do I change?</dt>
            <dd>We have changing rooms (male and female) with hot showers. We also have a club house for meeting in and parking for everyone.</dd>
        </dl>
    </div>

    <div class="col-md-3">
        <img src="https://farm8.staticflickr.com/7458/27334367466_c5f87ef5e2_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm8.staticflickr.com/7255/26963836512_6c50148bd7_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm1.staticflickr.com/328/18397228095_edd4fdbbcd_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm3.staticflickr.com/2909/14482253154_39c5c0f73d_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
</div>


{% endblock %}
