{% extends 'base.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block body %}

<div class="banner-image" style="position:relative; height: 18rem; margin-bottom: 10px;">
    <div class="banner-image-fill" style="background-size: cover; background-image: url('/images/banner.jpg'); background-position: 0 -40px; height: 100%; width: 100%;">
    </div>
</div>

<h1 class="display-5">{# Insert title here #}</h1>

<div class="row">
    <div class="col-md-12">
        {# Insert code here! #}
    </div>
</div>


{% endblock %}
