{% extends 'base.html.twig' %}

{% block title %}FAQ's{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">FAQs</span>
</nav>

<h1 class="display-5">FAQs</h1>

<div class="row">
    <div class="col-9 col-sm-12">
        <dl>
            <dt>Where and when do we meet?</dt>
            <dd>
                We’re based at Eagle Canoe Centre, Helford Street, NR2 4LY on the River Wensum, 2km from Norwich city centre. Club nights are every Wednesday from 6.30pm, April to October. In the winter season we meet every first and third Wednesday of the month. There are also regular day and weekend trips and monthly pool sessions. On Monday nights we run star award courses and once a month hold taster session.
            </dd>

            <dt>Canoe or Kayak?</dt>
            <dd>
                <p>
                    This is really up to you. You can choose to do both!
                </p>
                <p>
                    Canoeing, in an open boat with a single paddle blade, is a versatile way to enjoy time on the water and offers the opportunity for touring and exploring on flat water, as well as mild to moderate white water. A canoe is ideal for carrying loads as well as people, and canoe camping is a fantastic way to get away from it all.
                </p>
                <p>
                    Kayaking is different to canoeing as the kayaker sits in an enclosed cockpit, usually with a spray deck and uses a double-bladed paddle. Often a little ‘wetter’ than canoeing, kayakers can enjoy paddling on flat water, the sea, in the surf and on white water.
                </p>
            </dd>

            <dt>Do I need my own boat?</dt>
            <dd>
                There is no need to have any of your own kit as the club has a wide variety of equipment available to borrow for club activities. This includes a wide range of canoes, kayaks, and paddles suitable for all abilities and types of paddling. There are also cags, buoyancy aids and helmets, so all you need is suitable clothing (not jeans, and preferably nothing made from cotton) and shoes that you don’t mind getting wet!
            </dd>

            <dt>What does membership entitle me to?</dt>
            <dd>
                Membership includes our Wednesday night sessions, use of all the kit and facilities, and local day trips. For pool sessions, weekend excursions and 2 and 3 star courses there are charges, but these are set at a level to cover the cost of running the event.
            </dd>

            <dt>Do I need any previous experience?</dt>
            <dd>
                No, just come along and we can show you everything you need to get you paddling with confidence.
            </dd>

            <dt>Is there a minimum age?</dt>
            <dd>
                Kayaks and canoes are quite large for young children and we recommend junior members start at 10 or over as younger children are probably not strong enough to manoeuvre our fleet of kayaks or canoes. We have a selection of small kayaks specifically designed for older children.
            </dd>

            <dt>Do you offer British Canoeing Star award qualifications?</dt>
            <dd>
                <p>
                    Yes, we regularly run 1 to 3 Star award courses for canoe and kayak. These provide great benchmarks to work towards and a structured syllabus to learn from, enabling you to progress to your paddling skills from the moment you join the club.
                </p>
                <p>
                    The <a href="https://www.britishcanoeing.org.uk/courses/1-star-award/" target="_blank">1-Star qualification</a> can be taken in either canoe or kayak, but for the <a href="https://www.britishcanoeing.org.uk/courses/2-star-award/">2- Star course</a> you will paddle two different kinds of craft (most people opting for canoe and kayak). At <a href="https://www.britishcanoeing.org.uk/go-canoeing/build-my-skills/#star-awards" target="_blank">3-Star</a> and beyond, the awards become discipline-specific, with awards in open canoeing, touring, sea kayaking, white water kayaking and surfing to name but a few…
                </p>
                <p>
                    The club also occasionally runs other courses to provide a well-rounded skill set for those that are keen and want to learn more or become a coach. These qualifications and courses include Foundation Safety and Rescue Training, coaching qualifications and paddlesport-specific first-aid courses.
                </p>
            </dd>

            <dt>Are there courses for junior members?</dt>
            <dd>
                For children age 10 to 14 years old, we run <a href="https://www.britishcanoeing.org.uk/courses/paddlepower-start/" target="_blank">Paddle Power courses</a>, which are designed to suit younger paddlers, with many games and extra fun.
            </dd>

            <dt>Do I need to be able to swim?</dt>
            <dd>
                Yes, every member is asked to confirm they can swim 25m fully clothed. All members are also required to wear a buoyancy aid whilst near, on, and especially in, the water.
            </dd>

            <dt>What if I fall in?</dt>
            <dd>
                Falling in is part of paddling. As you progress, you will be taught how to get back to the bank or back in your boat. Rest assured, our coaches know numerous ways on how to rescue a paddler and get them safely back in their boat.
            </dd>

            <dt>Do you have changing rooms?</dt>
            <dd>
                We have male, female and disabled changing rooms with hot showers and toilets. We also have a club house for meetings and classroom-based sessions and parking either on site or on nearby roads.
            </dd>

            <dt>Do you run pool sessions?</dt>
            <dd>
                Yes! Throughout the year the club runs monthly pool sessions where members can practice skills in a controlled, warm water environment. These sessions are ideal for beginners to learn how to capsize your canoe or kayak and exit safely, how to rescue other paddlers and be rescued yourself, and also how to roll a kayak. We’re lucky enough to have access to a fleet of modern kayaks that are used only at the pool, along with all the associated equipment, so you can be sure to learn skills that are easily transferred to the river. There is a small cost of £2 to attend a pool session to contribute to the cost of hiring the pool.
            </dd>

            <dt>Do you run trips?</dt>
            <dd>
                <p>
                    Throughout the year the club coaches put together a diverse series of trips to cater for all abilities and tastes. We’re lucky enough to be on the doorstep of the Broads, one of the best paddling regions in the country, with day trips, and the occasional weekend paddling and camping trips.
                </p>
                <p>
                    We have regular trips to the coast, exploring the tidal creeks and sea around North Norfolk, sea kayaking, and surfing too.
                </p>
                <p>
                    Destinations further afield are also included, with weekend trips to the white water of Wales, the south west, north England and Scotland. We even offer a bi-yearly white water trip to either the French Alps or Slovenia.
                </p>
                <p>
                    To have a look at what’s coming up in the next few months, take a look at our <a href="{{ url('activity_index') }}">club activities calendar</a>.
                </p>
            </dd>

            <dt>What about social events?</dt>
            <dd>
                We have a monthly BBQ on the first Wednesday of the month during the summer months and a summer Family Fun Day and BBQ in July. We also have a Christmas party, and canoe camping trips. On Wednesday evenings after our club night, many of the adult members go for a drink at a local pub.
            </dd>

            <dt>I’m not sure I will like it can I try it out first?</dt>
            <dd>
                <p>
                    We run taster sessions on the Monday before the first Wednesday in the month. Please see our <a href="{{ url('activity_index') }}">club calendar</a> for dates. There is a small charge of £10 per adult and £5 per child for these sessions.
                </p>
                <p>
                    If you would like to attend one of these sessions, please contact <a href="mailto:secretary@eaglecanoeclub.org.uk?subject=Taster Session">secretary@eaglecanoeclub.org.uk</a> to book onto the next available session.
                </p>
            </dd>

            <dt>How do I join?</dt>
            <dd>
                Please have a look at our How to Join page. If you have any questions that are not answered here, please email <a href="mailto:secretary@eaglecanoeclub.org.uk?subject=Joining">secretary@eaglecanoeclub.org.uk</a> .
            </dd>

            <dt>When is enrolment?</dt>
            <dd>
                <p>
                    New members are welcome to join any time of year but membership runs from the beginning of April to the end of March. Enrolment nights are held on the first Wednesday of each month during the spring and summer to coincide with our BBQ and fun night.
                </p>
                <p>
                    Winter membership starts from September and includes a 50% discount. However, membership is restricted in the winter to people who are already 1-Star standard as it is more difficult to teach in the dark and colder if you fall in!
                </p>
                <p>
                    We suggest that those looking to enrol arrive for about 7pm as this gives us time to get existing members organised and on the water.
                </p>
            </dd>

            <dt>What if I just want to do a British Canoeing Star Award?</dt>
            <dd>
                We run 1 Star and Paddlepower courses on Wednesday nights and the course fees are included in your annual membership. If you are interested in 2 or 3 Star Awards there are specific courses run on a Monday night over a 10 week period. Most of our members don’t join solely to gain awards, it’s just part of what the club has to offer. Joining in with trips and other club activities will consolidate the skills you learn and make you a more well-rounded paddler.
            </dd>

            <dt>Are there any concessions on fees?</dt>
            <dd>
                We offer a family discount where the first adult member pays full price then all related new members receive a discounted rate. We also offer a discount to any members on income support or in full time education.
            </dd>

        </dl>
    </div>

    <div class="col-3 hidden-md-down">
        <img src="https://farm8.staticflickr.com/7458/27334367466_c5f87ef5e2_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm8.staticflickr.com/7255/26963836512_6c50148bd7_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm1.staticflickr.com/328/18397228095_edd4fdbbcd_z_d.jpg" class="rounded img-fluid my-2" />
        <img src="https://farm3.staticflickr.com/2909/14482253154_39c5c0f73d_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
</div>


{% endblock %}
