{% extends 'base.html.twig' %}

{% block title %}How To Join{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<h1 class="display-5">How To Join</h1>

<div class="row">
    <div class="col-9">
        <p>
            We hope that you like the sound of what we do at Eagle Canoe Club. Joining the club couldn’t be easier – just print the application form, disclosure form and code of conduct from the documents and downloads page, fill them out and bring them along on the first Wednesday of the month (enrolment night), together with the relevant membership fee, and you’re done. If you have trouble downloading what you need, contact the Club Secretary secretary@eaglecanoeclub.org.uk who can send everything out to you by post.
        </p>
        <p>
            Details on all the various Membership Fees can be found on the documents and downloads page. Other documents relating to the clubs policies and procedures can also be seen here.
        </p>
        <p>
            We suggest that those looking to enrol arrive for about 7pm which gives us time to get existing members organised and on the water. Generally you do not paddle on the night of enrolment, as we need to process the paperwork to make sure you’re insured, but you can get afloat the following week. If you want to arrive earlier to see what happens, we start at 6.30pm, but please be patient with us as it is busy until the groups are organised.
        </p>
    </div>

    <div class="col-3">
        <img src="https://farm9.staticflickr.com/8897/18458876390_cef189059e_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="https://farm8.staticflickr.com/7785/27528181582_0c57992417_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
    <div class="col-8">
        <p>
            If you’re not sure that you’re ready to join and would instead like to attend a Monday night taster session to see if you like paddling and to see what the club has to offer, then please contact the Club Secretary secretary@eaglecanoeclub.org.uk to book you onto the next available session. There is a small charge for these sessions.
        </p>
        <p>
            If you have any questions please visit the FAQ page. If you still have queries please  contact us at info@eaglecanoeclub.org.uk or come and visit us one Wednesday evening.
        </p>
    </div>
</div>

{% endblock %}
