{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1>Welcome to {{ site_name }}!</h1>

        <p>Welcome to Eagle Canoe Club! We are a thriving paddlesport club based in Norwich, offering fantastic opportunities to learn canoeing and kayaking. We cater for all abilities, from complete beginners to accomplished paddlers and provide a safe, controlled environment with coaching being undertaken by qualified and experience paddlers talented coaches and an ever-expanding fleet of canoes and kayaks. Our focus is on recreational paddling, and the club has a great family atmosphere that keeps our members coming back year after year. The club caters for all age groups and encourages family membership, however we generally recommend that children should be aged 10 or over to ensure that they are strong enough to handle the canoes and kayaks.</p>

        <p>The club has been in existence for over 50 years and in 1998 we became affiliated to the British Canoe Union, the national governing body for paddlesports with club activities being undertaken in line with the BCU’s guidelines.  The club continues to grow and the range of activities and events offered evolves annually following feedback from members and Coaches and the range of club boats available to members continues to expand to reflect these opportunities.</p>

        <p>Club nights at our clubhouse on the banks of the River Wensum, are every Wednesday from April to October and on the first and third Wednesday of each month during the winter. As well as Wednesday nights, we offer star award courses on Monday nights, trips and activities almost every weekend of the year, including pool sessions locally and trips both near and far.</p>

        <p>Eagle Canoe Club builds on its success year after year. In 2009 the club gained Clubmark accreditation and in 2013 gained Top Club accreditation. This is the only national cross-sports quality accreditation scheme for clubs with junior sections. It is built around a set of core criteria, which ensure that accredited clubs operate to a set of consistent, accepted and adopted operating standards.</p>
    </div>
{% endblock %}
