{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<h1 class="display-5">Welcome to {{ site_name }}!</h1>

<div class="row">
    <div class="col-md-8">
        <p>
            Welcome to Norwich Eagle Canoe Club. We are a thriving paddlesport club based just outside of the city centre, offering fantastic opportunities to learn canoeing and kayaking. We cater for all abilities, from complete beginners to accomplished paddlers. Our focus is on recreational paddling and the club has a great family atmosphere that keeps our members coming back year after year.
        </p>
        <p>
            We provide a safe and natural environment to enjoy both kayaking and canoeing with coaching from qualified coaches and experienced paddlers, using an ever-expanding fleet of canoes and kayaks.
        </p>
    </div>
    <div class="col-md-4">
        <figure class="figure">
            <img src="https://farm8.staticflickr.com/7727/27250465320_edfc75cbfc_z_d.jpg" class="rounded img-fluid figure-img" />
            <figcaption class="figure-caption">Kayaks at Symmonds Yat</figcaption>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://farm9.staticflickr.com/8198/28938835010_f535903c37_z_d.jpg" class="rounded img-fluid my-2" />
    </div>
    <div class="col-md-8">
        <p>
            We meet every Wednesday from April to October and on the first and third Wednesday of each month during the winter. As well as Wednesday club nights, we offer British Canoeing star award courses on Monday nights, trips and activities almost every weekend (both near and far!), dedicated This Girl Can activities, and monthly pool sessions.
        </p>
        <p>
            Norwich Eagle Canoe Club has been in existence for over 50 years and in 1998 became affiliated to British Canoeing, the national governing body for paddlesports. The club continues to grow, and the range of activities and events offered evolves annually following feedback from members and coaches.
        </p>
        <p>
            In 2009 the club gained Clubmark accreditation and in 2013 was awarded Top Club accreditation, the only national cross-sports quality accreditation scheme for clubs with junior sections. The accreditation is built around a set of core criteria, which ensure that accredited clubs operate to a set of consistent, accepted and adopted operating standards.
        </p>
    </div>
</div>

{% endblock %}
