{% extends 'base.html.twig' %}

{% block title %}How To Join{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<h1 class="display-5">Photos &amp; Videos</h1>

<div class="row">
    <div class="col-9">
        <p>
            Take a look at our photo gallery, YouTube channel and Facebook page to get an idea of the kind of activities we offer. We also have a newsletter which our members contribute to.
        </p>

        <p>
            We hope you find the all the information you need on our website, from becoming a member, finding more about what’s on and using our clubhouse facilities. If there is anything else you would like to know, please get in touch.
        </p>
    </div>

    <div class="col-3">
        <img src="https://farm9.staticflickr.com/8897/18458876390_cef189059e_z_d.jpg" class="float-right rounded img-fluid my-2" />
    </div>
</div>

{% endblock %}
