{% extends 'base.html.twig' %}

{% block title %}How To Join{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">What's On</span>
</nav>

<h1 class="display-5">What's On</h1>

<div class="row">
    <div class="col-9">
        <p>
            We offer a range of activities throughout the year including weekly club nights throughout the summer months (twice monthly in the winter), star award training, This Girl Can evenings, day trips and weekends away.
        </p>

        <p>
            Throughout the year we also run taster sessions and monthly pool sessions, where members can practice skills in a warm and controlled environment.
        </p>

        <p>
            Have a look at the <a href="{{ url('activity_index') }}">calendar</a> to see what’s coming up soon.
        </p>

        <h5>Star awards and training</h5>
        <p>
            The club caters for all abilities (age 10 and over), and in addition to recreational paddling opportunities, we offer members the chance to train for and take <a href="https://www.britishcanoeing.org.uk/go-canoeing/build-my-skills/" target="_blank">British Canoeing qualifications</a>. For younger members this is focused around the <a href="https://www.britishcanoeing.org.uk/courses/paddle-power/" target="_blank">Paddlepower</a> series of qualifications, our adult members can launch straight into the <a href="https://www.britishcanoeing.org.uk/go-canoeing/build-my-skills/#star-awards" target="_blank">star awards</a>.
        </p>
        <p>
            These sessions take place on Club nights on a Wednesday or our award-specific night which is Monday. Sessions start at 6.30pm.
        </p>

        <h5>This Girl Can</h5>
        <p>
            On Tuesday evenings throughout the summer months, we hold This Girl Can paddling sessions for our female members. These ladies-only sessions are aimed to build confidence on the water and encourage more women and girls to take up and enjoy paddlesports. The sessions focus on skills and activities participants would like to practice and develop alongside taking part in star award and club night sessions.
        </p>

        <p>
            If you would like to come along and find out more we run ladies only taster session over the summer months – please see our calendar for dates and email <a href="mailto:secretary@eaglecanoeclub.org.uk?subject=This Girl Can">secretary@norwicheaglecanoeclub.org.uk</a> to book a place.
        </p>

        <h5>Day trips and weekends away</h5>
        <p>
            Throughout the year, we offer a programme of local day trips and weekends away, offering our members the chance to paddle and experience different water environments. We offer a mixed programme catering for different abilities and interests, including touring on the Norfolk Broads and local rivers, white water paddling in Wales and sea kayaking in Scotland.
        </p>

        <p>
            Our white water series is a progressive programme so that the activities become more “challenging” as the season progresses. Club members will receive an email with full details of each trip, providing information about the level of experience required to enjoy it safely. New ideas for the Club’s programmes are always welcome and will add to the variety of what we can offer.
        </p>

        <p>
            Take a look at our <a href="https://www.flickr.com/photos/99278423@N03/sets/" target="_blank">photo gallery</a> and <a href="https://www.facebook.com/Eaglecanoeclub" target="_blank">Facebook page</a> to have a look at pictures and videos from past trips, or read our <a href="{{ url('newsletters') }}">club newsletter</a>.
        </p>

        <h5>Taster sessions</h5>
        <p>
            If you would like to ‘try before you buy’, we run taster sessions on the Monday before the first Wednesday in the month. Please see our club calendar for dates. There is a small charge of £10 per adult and £5 per child for these sessions.
        </p>
        <p>
            If you would like to attend one of these sessions, please contact secretary@eaglecanoeclub.org to book onto the next available date.
        </p>


        <h5>Paddlesports-related courses</h5>
        <p>
            Other British Canoeing courses and qualification are also held at Eagle Canoe Centre, run by the Club or other external providers. These include <a href="https://www.britishcanoeing.org.uk/courses/foundation-safety-and-rescue-training/" target="_blank">Foundation Safety and Rescue training</a>, <a href="https://www.britishcanoeing.org.uk/coaching-leadership/courses-for-coaches/" target="_blank">BC coaching qualifications</a> and paddlesport-specific first aid courses.
        </p>
        <p>
            These course form part of our club Coach Development programme for existing coaches, and for those looking to become coaches.
        </p>
        <p>
            The courses are also often open to both members and non- members. Please contact <a href="mailto:secretary@eaglecanoeclub.org.uk?subject=Paddlesports Courses">secretary@eaglecanoeclub.org.uk</a> for enquiries relating to the courses we offer, or contact the provider named against the course in the calendar below.
        </p>

        <h5>What’s on</h5>
        <p>
            The courses are sometimes open to both members and non- members. Please contact <a href="mailto:secretary@eaglecanoeclub.org.uk">secretary@eaglecanoeclub.org.uk</a> for enquiries relating to the courses we offer, or contact the provider named against the course in the calendar below.
        </p>

    </div>

    <div class="col-3">
        <div class="card">
            <h4 class="card-header">Links</h4>
            <div class="card-block text-center">
                <a href="{{ url('activity_index') }}" class="btn btn-primary">View Programme</a>
            </div>
        </div>
        <img src="https://farm9.staticflickr.com/8897/18458876390_cef189059e_z_d.jpg" class="float-right rounded img-fluid my-2" />
        <img src="https://farm1.staticflickr.com/323/18763217714_9c86435bfc_z_d.jpg" class="float-right rounded img-fluid my-2" />
        <img src="https://farm3.staticflickr.com/2941/15449163262_0485de97ea_z_d.jpg" class="float-right rounded img-fluid my-2" />
        <img src="https://farm1.staticflickr.com/438/30998327013_ca454128c6_z_d.jpg" class="float-right rounded img-fluid my-2" />
        <img src="https://farm1.staticflickr.com/338/20034510511_f0ff1c0f7c_z_d.jpg" class="float-right rounded img-fluid my-2" />

    </div>
</div>

{% endblock %}
