{% extends 'base.html.twig' %}

{% block title %}Eagle Canoe Centre{% endblock %}

{% block body %}

<div class="banner-image" style="position:relative; height: 18rem; margin-bottom: 10px;">
    <div class="banner-image-fill" style="background-size: cover; background-image: url('/images/banner.jpg'); background-position: 0 -40px; height: 100%; width: 100%;">
    </div>
</div>

<h1 class="display-5">Who's Who?</h1>

<h2 class="display-6">Committee</h2>
<div class="card-deck my-3">

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Stuart Pontin</h4>
            <h5>Chairman</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Si Allen</h4>
            <h5>Vice-Chairman</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Martin Lacey</h4>
            <h5>Secretary</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200g" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Hazel Roe</h4>
            <h5>Treasurer</h5>
        </div>
    </div>

</div>



<h2 class="display-6">Coaches</h2>
<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Adam Hunt</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Ann Merryweather</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Colin Butcher</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Daniel Gibbins</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Emma Davey</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Darren Glanville</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Jade Kirkham</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Jane English</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">John Waller</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Kevin Neale</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Lee Beaumont</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Mark Quadling</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Martin Klinge</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Martyn Bumstead</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Mike Smith</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Pete Lawrence</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Pete Sykes</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Sam Gathercole</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Shaun Dean</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Tim Wilby</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Tom Ralph</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Tony Carter</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="http://placehold.it/252x200" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Leanne Baker</h4>
        </div>
    </div>

    <div class="card border-0">
    </div>
</div>


{% endblock %}
