{% extends 'base.html.twig' %}

{% block title %}Eagle Canoe Centre{% endblock %}

{% block body %}

{% include 'components/banner.html.twig' %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Who's Who</span>
</nav>

<h1 class="display-5">Who's Who?</h1>

<h2 class="display-6">Committee</h2>
<div class="card-deck my-3">

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/stuart-p.jpg" alt="CStuart Pontin">
        <div class="card-block">
            <h4 class="card-title">Stuart Pontin</h4>
            <h5>Chairman &amp; Coach</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/si-a.jpg" alt="Si Allen">
        <div class="card-block">
            <h4 class="card-title">Si Allen</h4>
            <h5>Vice-Chairman &amp; Coach</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/martin-l.jpg" alt="Martin Lacey">
        <div class="card-block">
            <h4 class="card-title">Martin Lacey</h4>
            <h5>Secretary</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/hazel-r.jpg" alt="Hazel Roe">
        <div class="card-block">
            <h4 class="card-title">Hazel Roe</h4>
            <h5>Treasurer</h5>
        </div>
    </div>

</div>



<h2 class="display-6">Coaches</h2>
<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/adam-h.jpg" alt="Adam Hunt">
        <div class="card-block">
            <h4 class="card-title">Adam Hunt</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/alastair-g.jpg" alt="Alastair Grant">
        <div class="card-block">
            <h4 class="card-title">Alastair Grant</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/ann-m.jpg" alt="Ann Merryweather">
        <div class="card-block">
            <h4 class="card-title">Ann Merryweather</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/colin-b.jpg" alt="Colin Butcher">
        <div class="card-block">
            <h4 class="card-title">Colin Butcher</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/daniel-g.jpg" alt="Daniel Gibbins">
        <div class="card-block">
            <h4 class="card-title">Daniel Gibbins</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/emma-d.jpg" alt="Emma Davey">
        <div class="card-block">
            <h4 class="card-title">Emma Davey</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/darren-g.jpg" alt="Darren Glanville">
        <div class="card-block">
            <h4 class="card-title">Darren Glanville</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/jade-k.jpg" alt="Jade Kirkham">
        <div class="card-block">
            <h4 class="card-title">Jade Kirkham</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/jane-e.jpg" alt="Jane English">
        <div class="card-block">
            <h4 class="card-title">Jane English</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/john-w.jpg" alt="John Waller">
        <div class="card-block">
            <h4 class="card-title">John Waller</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/leanne-b.jpg" alt="Leanne Baker">
        <div class="card-block">
            <h4 class="card-title">Leanne Baker</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/lee-b.jpg" alt="Lee Beaumont">
        <div class="card-block">
            <h4 class="card-title">Lee Beaumont</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/mark-q.jpg" alt="Mark Quadling">
        <div class="card-block">
            <h4 class="card-title">Mark Quadling</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/martin-k.jpg" alt="Martin Klinge">
        <div class="card-block">
            <h4 class="card-title">Martin Klinge</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/martyn-b.jpg" alt="Martyn Bumstead">
        <div class="card-block">
            <h4 class="card-title">Martyn Bumstead</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/mike-s.jpg" alt="Mike Smith">
        <div class="card-block">
            <h4 class="card-title">Mike Smith</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/pete-l.jpg" alt="Pete Lawrence">
        <div class="card-block">
            <h4 class="card-title">Pete Lawrence</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/pete-s.jpg" alt="Pete Sykes">
        <div class="card-block">
            <h4 class="card-title">Pete Sykes</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/sam-g.jpg" alt="Sam Gathercole">
        <div class="card-block">
            <h4 class="card-title">Sam Gathercole</h4>
        </div>
    </div>

    <div class="card" style="width: 15rem">
        <img class="card-img-top fluid" src="/images/coaches/shaun-d.jpg" alt="Shaun Dean">
        <div class="card-block">
            <h4 class="card-title">Shaun Dean</h4>
        </div>
    </div>
</div>

<div class="card-deck my-3">
    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/tim-w.jpg" alt="Tim Wilby">
        <div class="card-block">
            <h4 class="card-title">Tim Wilby</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/tom-r.jpg" alt="Tom Ralph">
        <div class="card-block">
            <h4 class="card-title">Tom Ralph</h4>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top fluid" src="/images/coaches/tony-c.jpg" alt="Tony Carter">
        <div class="card-block">
            <h4 class="card-title">Tony Carter</h4>
        </div>
    </div>

    <div class="card border-0">
    </div>

</div>


{% endblock %}
