{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <ul>
        <li><a href="{{ path('admin_membershiptype_index') }}">Membership Types</a></li>
        <li><a href="{{ path('admin_participantrole_index') }}">Participant Roles</a></li>
        <li><a href="{{ path('admin_participantstatus_index') }}">Participant Status</a></li>
    </ul>
{% endblock %}
