{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_report_index')}}">Reports</a>
        <span class="breadcrumb-item active">Attendance</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Attendance</h1>

    <div id="calendar"></div>
    <div id="activityTypeChart"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        {{ gc_draw(calendarChart, 'calendar') }}
        {{ gc_draw(activityTypeChart, 'activityTypeChart') }}
    </script>
{% endblock %}
