{% extends 'adminbase.html.twig' %}

{% block title %}Reports: Enrolment{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="{{ path('admin_index')}}">Admin</a>
        <a class="breadcrumb-item" href="{{ path('admin_report_index')}}">Reports</a>
        <span class="breadcrumb-item active">Enrolment</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Enrolment</h1>

    <div id="enrolmentChart"></div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        {{ gc_draw(enrolmentChart, 'enrolmentChart') }}
    </script>
{% endblock %}
