{% extends 'admin/base.html.twig' %}

{% block body %}
    <h1>Reports</h1>

    <ul>
        <li>
            <a href="{{ path('report_attendance') }}">Attendance</a>
        </li>
        <li>
            <a href="{{ path('report_emaillist') }}">Email List</a>
        </li>
        <li>
            <a href="{{ path('report_overview') }}">Overview</a>
        </li>
    </ul>
{% endblock %}
