{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <span class="breadcrumb-item active">Contact</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>Find below details of who to contact.</p>

    <h3>General Information</h3>
    <p>For general information about the club and what we do contact  <a href="mailto:info@eaglecanoeclub.org.uk">info@eaglecanoeclub.org.uk</a>.</p>

    <h3>Database Issues</h3>
    <p>For issues relating to the database, email <a href="mailto:db@eaglecanoeclub.org.uk">db@eaglecanoeclub.org.uk</a>.</p>

    <h3>Activities</h3>
    <p>For issues relating to a specific activity, please contact the organiser using the details circulated by email.</p>


{% endblock %}
