{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block breadcrumbs %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="/">Home</a>
      <span class="breadcrumb-item active">Contact</span>
    </nav>
{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <div class="row">
        <div class="col-12">
            <p>
                The club is based at the Eagle Canoe Centre, on Helford Street, Norwich, next to Machine Mart. The Centre is beside the River Wensum, opposite Anderson’s Meadow. For Sat Nav, use NR2 4LY, or see the map below.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            <h3>General Information</h3>
            <p>For general information about the club and what we do contact  <a href="mailto:info@eaglecanoeclub.org.uk">info@eaglecanoeclub.org.uk</a>.</p>

            <h3>Database Issues</h3>
            <p>For issues relating to the database, email <a href="mailto:db@eaglecanoeclub.org.uk">db@eaglecanoeclub.org.uk</a>.</p>

            <h3>Activities</h3>
            <p>For issues relating to a specific activity, please contact the organiser using the details circulated by email.</p>
        </div>

        <div class="col-5">
            <div id="map" style="width: 100%; height: 330px;"></div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap" async defer></script>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'));

        var position = { lat: 52.641370, lng: 1.278015 };

        var marker = new google.maps.Marker({
          position: position,
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
          map: map,
          title: 'Eagle Canoe Centre'
        });

        map.setCenter(position);
        map.setZoom(15);

      }
    </script>
{% endblock %}
