{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participants list</h1>

    <p>Are you sure you want to remove this participant?</p>

    {{ form_start(delete_form) }}
        <input type="submit" value="Yes" class="btn btn-danger">
    {{ form_end(delete_form) }}

    <a href="{{ path('activity_participant_list', { 'id': participant.activity.id } ) }}" class="btn btn-primary">No</a>
{% endblock %}
